{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-md-6 col-sm-12 my-auto">
            <h1 class="display-4 logo-font text-black">
                Meet your pawfect Pooch!
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'dogs' %}" class="date-now-button btn btn-lg rounded-0 text-uppercase py-3">Date Now<i class="fas fa-paw"></i></a>
                </h4>   
            </div>
        </div>
        <div class="col-md-6 col-sm-12 my-auto">
            Take the lead in your dating life by connecting with single dog owners and singles who love dogs. Our dog dating site is the place where you can browse, message, share stories and be part of a community. Find someone you will be barking mad over.
            
        </div>
    </div>
    </div>
{% endblock %}
