{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-center dog_detail_header"> <h1>About Us</h1></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row contact_request">
        <div class="col-12">
            <div class="container about_us">
                <img src="/media/paw_image.jpg" alt="Paw" class="responsive">
                <div class="centered">
                    This is some info about the process of the dating comapny
                
                    <a href="{% url 'subscribe' %}" class="btn btn_add_cancel">Subscribe Now<i class="fas fa-paw"></i></a>
                    <a href="{% url 'account_login' %}" class="btn btn_add_cancel">Login Now<i class="fas fa-paw"></i></a>
                    <a href="{% url 'dogs' %}" class="btn btn_add_cancel">Date Now<i class="fas fa-paw"></i></a>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}