{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col text-center dog_detail_header"> <h1>How it works?</h1></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row contact_request">
        <div class="col-12">
            <div class="container">
                <div class="card-deck">
                    <div class="card">
                      <img class="card-img-top" src="/media/dog-tiles1.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title text-center">Step one</h5>
                        <p class="card-text">Subscribe for a small one off fee of €20 to gain full access to potential pooches profiles, their contact information and blog posts about group playdates! </p>
                      </div>
                      <div class="card-footer text-center">
                        <small class="text-muted"><a href="{% url 'subscribe' %}" class="btn btn_add_cancel">Subscribe Now<i class="fas fa-paw"></i></a></small>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/media/dog-tiles2.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title text-center">Step 2</h5>
                        <p class="card-text">Create a profile for your Pooch. Tell Us all about your furry friend!Make sure you snap them at their good angles .</p>
                      </div>
                      <div class="card-footer text-center">
                        <a href="{% url 'account_login' %}" class="btn btn_add_cancel">Login Now<i class="fas fa-paw"></i></a>
                      </div>
                    </div>
                    <div class="card">
                      <img class="card-img-top" src="/media/dog-tiles3.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title text-center">Step 3</h5>
                        <p class="card-text">Get sniffing around!! Once your profile is all set up ypu will be able to browse by age, breed and location. You'll be able to reach out to arrange some doggy dates  </p>
                      </div>
                      <div class="card-footer text-center">
                        <small class="text-muted"><a href="{% url 'dogs' %}" class="btn btn_add_cancel">Date Now<i class="fas fa-paw"></i></a></small>
                      </div>
                    </div>
                  </div>
        </div>


    </div>
</div>
</div>
{% endblock %}