{% extends "base.html" %}
{% block extra_title %} - Add Dog {% endblock %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}
{% block content %}
<div class="container add_dog_container">
   <div class="row">
      <div class="col-12">
         <h2 class="text-center">Add your Pooch</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-12">
         <form method="POST" action="{% url 'add_dog' %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% if field.name != 'image' %}
            {{ field | as_crispy_field }}
            {% else %}
            {{ field }}
            {% endif %}
            {% endfor %}
            <div class="text-center">
               <a class="btn btn_add_cancel" href="{% url 'dogs' %}">Cancel</a>
               <button class="btn btn_add_cancel" type="submit">Add dog</button>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
   $('#new-image').change(function() {
       var file = $('#new-image')[0].files[0];
       $('#filename').text(`Image will be set to: ${file.name}`);
   });
</script>
{% endblock %}