<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-dogs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Pets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-dogs-link">
                <a href="{% url 'dogs' %}" class="dropdown-item">All Pets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Breeds
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dog-link">
                <a href="{% url 'dogs' %}?breed=mix_breed" class="dropdown-item">Mix Breed</a>
                <a href="{% url 'dogs' %}?breed=crossbreed" class="dropdown-item">Crossbreed</a>
                <a href="{% url 'dogs' %}?breed=pure_breed" class="dropdown-item">Purebred</a>
                <a href="{% url 'dogs' %}" class="dropdown-item">All Dogs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Requirements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'dogs' %}?sort=age&direction=asc" class="dropdown-item">By Age</a>
                <a href="{% url 'dogs' %}?sort=breed&direction=asc" class="dropdown-item ">By Breed</a>
                <a href="{% url 'dogs' %}?sort=location&direction=asc" class="dropdown-item ">By Location</a>
                <a href="{% url 'dogs' %}" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>