<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Pets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Cats</a>
                <a href="" class="dropdown-item ">Dogs</a>
                <a href="" class="dropdown-item ">Horses</a>
                <a href="{% url 'dogs' %}" class="dropdown-item">All Pets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Breeds
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Terrier</a>
                <a href="" class="dropdown-item">Poodle</a>
                <a href="" class="dropdown-item">German Shep</a>
                <a href="" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Specail Requirements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Activity Levels</a>
                <a href="" class="dropdown-item">Area</a>
                <a href="" class="dropdown-item">Temperment</a>
                <a href="{% url 'dogs' %}" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>