{% extends "base.html" %}
{% block extra_title %} - Blog {% endblock %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col text-center dog_detail_header">
         <h1>Post</h1>
      </div>
   </div>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row contact_request">
      {% if user.is_authenticated %} 
<h1>{{ post.title }}</h1>
<small> By : {{ post.author }}</small><br/>
{{ post.post_date}}
<hr>
<br/>
{{ post.body }}

<br/>
<br/>
<a href="{% url 'blog' %}" class="btn btn_add_cancel"> Back</a>
<a href="{% url 'add_post' %}" class="btn btn_add_cancel"> Add post</a>
{% if request.user.is_superuser or request.user == post.user %}
<a href="{% url 'update_post' post.pk %}" class="btn btn_add_cancel">Edit</a>
<a href="{% url 'delete_post' post.pk %}" class="btn btn_add_cancel">Delete</a>
{% endif %}
{% else %}
<H1>You will need to login to access blog post</H1>

{% endif %}
    </div>
</div>
{% endblock %}