{% extends "base.html" %}
{% block extra_title %} - Delete Post {% endblock %}
{% load static %}
{% block page_header %}
<div class="container header-container">
   <div class="row">
      <div class="col text-center dog_detail_header">
         <h1>Delete Post</h1>
      </div>
   </div>
</div>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row contact_request">
      {% if user.is_authenticated %} 
        <h4>Delete {{ post.title }}</h4>
      <form method="POST">
         {% csrf_token %}
        <h4>Are you sure? </h4>
        <br/>
         <button type="submit" class="btn btn-orange">Delete</button>
     </form>
     {% else %}
     <H1>You will need to login to access blog post</H1>
     
     {% endif %}
      
    </div>
</div>
{% endblock %}